services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs_soap_gateway
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - rest_network

networks:
  rest_network:
    driver: bridge